
.container {
	width: 100%;
  	height: 100%;
}

.vhs-message{
    animation: track 5ms infinite;
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    height:100%;
	box-sizing: border-box;
}

.text {
	font-size: 3em;
    font-weight: bold;
	left: 0;
	filter: blur(3px);
	color: #fff;
	text-shadow: 1px 3px green, -2px -3px red;
}

.nav-item:hover, .selected {
    background-color: white;
    color: #171DA8;
    background-clip: border-box;
    cursor: pointer;
    width: fit-content;
}

.vhs-message span{
  	animation: 	blur 30ms infinite, flick 50ms infinite, jump 50ms infinite;	
}

@keyframes blur {
  0%   { filter: blur(1px); opacity:0.8;}
  50% { filter: blur(1px); opacity:1; }
  100%{ filter: blur(1px); opacity:0.8; }
}
@keyframes flick {
  50% { left:2px; }
  51% { left:0; }
}
@keyframes jump {
  30% { top:10px; }
  31% { top:0; }
}

//From Greg Opperman
//https://codepen.io/gopperman/pen/dElzr?editors=001
@keyframes track {

  40% { 	opacity:1; 
	  		top:0; 
	  		left:0;  
	  		transform:scale(1,1);  
	  		transform:skew(0,0);}
  41% { 	opacity:0.8; top:0px; left:-100px; 
	  		transform:scale(1,1.2);  
	  		transform:skew(50deg,0);}
  42% { 	opacity:0.8; 
	  		top:0px; 
	  		left:100px; 
	  		transform:scale(1,1.2);  
	  		transform:skew(-80deg,0);}
  43% { 
	  		opacity:1; 
	  		top:0; 
	  		left:0; 
	  		transform:scale(1,1);  
	  		transform:skew(0,0);}
}

