/* You can add global styles to this file, and also import other style files */

body {
    cursor: url(/assets/cursor.svg), auto;
    caret-color: #F9F6EE;
}

button, .cursor-fill {
    cursor: url(/assets/cursor-fill.svg), auto;
}
